body {
    background-color: black;
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-size: 60px;
    background: -webkit-linear-gradient(#8b0000, #FF4500, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image {
    position: relative;
}

.square-button {
    position: absolute;
    border-radius: 20%;
    opacity: 0.7;
}

.round-button {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
}

.oval-button {
    position: absolute;
    border-radius: 30%;
    opacity: 0.8;
}

#up-button {
    top: 365px;
    left: 607px;
    width: 28px;
    height: 30px;

}

#left-button {
    top: 393px;
    left: 578px;
    width: 28px;
    height: 30px;

}

#down-button {
    top: 422px;
    left: 607px;
    width: 28px;
    height: 30px;

}

#right-button {
    top: 393px;
    left: 634px;
    width: 28px;
    height: 30px;
}

#b-button {
    top: 395px;
    left: 773px;
    width: 45px;
    height: 45px;

}

#a-button {
    top: 367px;
    left: 831px;
    width: 45px;
    height: 45px;
}

#enter-button {
    top: 485px;
    left: 716px;
    width: 43px;
    height: 13px;
    transform: rotate(154deg);
}

.lit {
    background-color: red;
}

.lives-added {
    font-family: 'Press Start 2P', cursive;
    font-size: .9em;
    color: black;

}

.screen {
    position: absolute;
    top: 86px;
    left: 628px;
    height: 175px;
    width: 194px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body.gradient-animate {
    background: linear-gradient(269deg, #000022, #400000, #220040);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}



