* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Light theme */
:root {
    --body-background-image: linear-gradient(to top, #bdcdd6, #b6cad5, #aec7d4, #a6c5d2, #9ec2d1, #96bece, #8eb9cb, #86b5c8, #7cadc3, #73a6be, #699eb9, #6096b4);
    --header-color: white;
    --card-background-color: #f0f9fe;
    --card-text-color: black;
    --card-title-color: black;
}

/* Dark theme */
[data-theme="dark"] {
    --body-background-image: linear-gradient(to top, #064663, #05405b, #053b53, #04354c, #043044, #042d40, #03293c, #032638, #032437, #032135, #031f34, #041c32);
    --card-background-color: #2e4c6c;
    --card-text-color: white;
    --card-title-color: white;
    --header-color: linear-gradient(to top, #eff5f5, #eaf2f2, #e5efef, #e1ebec, #dce8e9, #dce9e9, #dceae8, #dcebe7, #e2f0e8, #eaf4e8, #f4f8e9, #fffbeb);;
}


h5 {
    color: white;
}

h1 {
    font-family: 'Playfair', serif;
    background: var(--header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    padding-top: 5px;
    padding-bottom: 0;
}

body {
    background-image: var(--body-background-image);
    min-height: 100vh;

}

p, h3 {
    color: white;
}

.location {
    color: white;
    /*margin-top: 12px;*/
}

.search-bar {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    padding: 2px;
}

.search-input {
    position: relative;
    border-radius: 20px;
}

.search-input .form-control {
    box-shadow: none;
    line-height: 20px;
    padding-left: 35px;
}

.search-input .form-control::placeholder {
    color: white;
}

.search-input .input-group-text {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.search-input .form-control:focus {
    outline: none;
}

.card-title {
    color: var(--card-title-color);
}

.round-container {
    border-radius: 45px;
    padding: 0px;
    border: none;
    margin: 0;
    width: 80vw;
}

.container {
    width: 80vw;
}

.card {
    border-radius: 30px;
    border: none;
    background-color: var(--card-background-color);
}

.card-text {
    color: var(--card-text-color);
}

.card-header {
    height: 50px;
    border-radius: 30px 30px 0 0 !important;
    background-color: transparent;
    color: var(--card-title-color);
}

.label {
    color: #4A555D;
}

#map-container {
    height: 310px;
    border-radius: 30px;
}

.location {
    background: var(--header-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image {
    margin: -5px 0;
}

@media (min-width: 768px) {
    .card {
        width: 30%;
    }
}


@media (min-width: 992px) {
    .card {
        width: 30%;
    }
}


@media (min-width: 1200px) {
    .card {
        width: 18%;
    }
}

@media (min-width: 1400px) {
    .card {
        width: 18.5%;
    }
}
